.phon {
    font-style: italic;
}

.orth {
    font-size: medium;
    /* display: none; */
}

.xtag {
    font-family: Courier New;   
}

.root {
    color: indigo;
}

.morphs {
    font-family: Courier New;   
    color: goldenrod;
}

.word {
    font-size:large;
}

body {
    font-family: DejaVu Sans Condensed, DejaVu Sans, Arial Unicode MS, Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: medium;
    color: black;
    background-color: white;
}   

table {
    margin: 0px;
    margin-bottom: 10px;
    border-spacing: 0px;
}

td {
    border: 0px;
    padding: 0px;
    padding-right: 10px;
    font-size: medium;
    font-weight: normal;
    text-decoration: none;
    vertical-align: baseline;
}

input {
    font-size: medium;
}

h1 {
    font-size: x-large;
    font-weight: bold;
    color: palegoldenrod;
    background-color: indigo;
    padding: 3px 6px;
} 
    
h2 { 
    font-size: large;
    font-weight: bold;
    color: indigo;
    border: 1px;
    border-style: solid;
    border-color: goldenrod;
    padding: 2px 5px; 
}

a:link { 
    color: indigo;
    text-decoration: underline;
}

h1 a:link { 
    color: gold;
    text-decoration: underline;
}

a:visited { 
    color: goldenrod;
    text-decoration: underline;
}

h1 a:visited { 
    color: palegoldenrod;
    text-decoration: underline;
}

a:hover {
    color: gold;
    text-decoration: underline;
}

h1 a:hover {
    color: gold;
    text-decoration: underline;
}

a:active { 
    color: goldenrod;
    text-decoration: underline;
}

code {
    font-family: Courier New;
    font-size: medium;
}

div {
    display: inline;
    margin-right: 1em;
}
