.phon {
    font-style: italic;
}

.orth {
    font-size: medium;
    /* display: none; */
    line-height: 150%;
}

.xtag {
    font-family: Courier New;   
}

.root {
    color: indigo;
}

.morphs {
    font-family: Courier New;   
    color: goldenrod;
}

.class {
    font-family: Courier New;   
    color: orangered;
}

.stems {
    font-family: Courier New;   
    color: goldenrod;
}

.word {
    font-size:large;
}

.notice {
    color: orangered;
}

body {
    font-family: DejaVu Sans Condensed, DejaVu Sans, Arial Unicode MS, Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: medium;
    color: black;
    background-color: white;
}   

table {
    margin: 0px;
    margin-bottom: 10px;
    border-spacing: 0px;
}

td {
    border: 0px;
    padding: 0px;
    padding-right: 10px;
    font-size: medium;
    font-weight: normal;
    text-decoration: none;
    vertical-align: baseline;
}

input {
    font-size: medium;
}

h1 {
    font-size: x-large;
    font-weight: bold;
    color: palegoldenrod;
    background-color: indigo;
    padding: 3px 6px;
} 
    
h2 { 
    font-size: large;
    font-weight: bold;
    line-height: 130%;
    color: indigo;
    border: 1px;
    border-style: solid;
    border-color: goldenrod;
    padding: 2px 5px; 
}

h3 { 
    font-size: large;
    font-weight: bold;
    line-height: 130%;
    color: black;
    /* background-color: palegoldenrod; */
    border: 1px;
    border-style: solid;
    border-color: gold;
    padding: 2px 5px; 
}

h3 div {
    margin-right: 0em;
}

h3 div:before {
    content: "Input word";
    font-size: medium;
    font-weight: normal;
    margin-right: 1em;
}

a:link { 
    color: indigo;
    text-decoration: none;
}

h1 a:link { 
    color: gold;
    text-decoration: none;
}

a:visited { 
    color: indigo;
    text-decoration: none;
}

h1 a:visited { 
    color: gold;
    text-decoration: none;
}

a:hover {
    color: indigo;
    text-decoration: none;
    background-color: palegoldenrod;
}

h1 a:hover {
    color: gold;
    text-decoration: none;
    background-color: indigo;
}

a:active { 
    color: gold;
    text-decoration: none;
}

code {
    font-family: Courier New;
    font-size: medium;
}

div {
    display: inline;
    margin-right: 1em;
}

ul div a {
    padding:0 5px;
    border:1px solid #ddd;
    margin-right:0em;
}

ul div a:visited {
    padding:0 5px;
    border:1px solid #ddd;
    margin-right:0em;
}

ul div a:hover {
    padding:0 5px;
    border:1px solid gold;
    margin-right:0em;
    color: orangered;
    background-color: white;
}

ul div a:active {
    padding:0 5px;
    border:1px solid gold;
    margin-right:0em;
    color: gold;
}

td.xtag input {
    font-family: Courier New;   
}
